body {
    background-color: #bbdefb;
    color: #2196f3;
}

.navbar-default {
    background-color: #0d47a1;
}

h1,h2,h3,h4 {
    color: #ff9800;
}

zssport-app {
    display: block;
}

zssport-app > h1 {
    text-align: center;
}

zssport-app .content {
    display: inline-block;
    width: 33%;
}