body {
    background-color: #bbdefb;
    color: #2196f3;
}

.navbar-default {
    background-color: #0d47a1;
}

h1,h3,h4 {
    color: #ff9800;
}

h2 {
    color: #1565c0;
}

zssport-app {
    display: block;
}

zssport-app > h1 {
    text-align: center;
}

zssport-app .content {
    display: inline-block;
    width: 33%;
}

zssport-app .panel-heading {
    background-color: #fff3e0;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.w-49 {
    width: 49%;
}

.w-90 {
    width: 90%;
}